@{
    ViewData["Title"] = "Acceso denegado";
}
<h1>@ViewData["Title"]</h1>

<p>No tiene permisos para realizar la acción que intenta.</p>
<p>Si cree que hay un error consulte con el desarrollador,</p>
